<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>
<body>
        <form method="POST" action="/new">
            <label for="message">Message</label>
            <input name="message" type="text" id="message">
            <label for="name">Name</label>
            <input name="name" type="text" id="name">
            <button type="submit">Submit</button>
        </form>
</body>
</html>
