<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
        <form method="POST" action="/new">
            <p>
                <label for="message">Message</label>
                <input name="message" type="text" id="message">
            </p>
            <p>
                <label for="user">Name</label>
                <input name="user" type="text" id="user">
            </p>
            <button type="submit">Submit</button>
        </form>
</body>
</html>
